@use '@material/typography/mdc-typography';

:root{
  --mdc-theme-primary: #1976D2;
}

.plain-top-app-bar{
  background-color: transparent;
  color: black;
  position: relative;
  //border-bottom: 1px solid rgba(0,0,0,0.2);

  & .mdc-icon-button{
    color: black!important;
  }

  & .mdc-icon-button:before,
  & .mdc-icon-button:after{
    background-color: rgba(0,0,0,0.5)!important;
  }
}

.no-space-list{
  padding: 0!important;
}

.mdc-typography--headline4{
  margin: 0;
}

.expandable-area--trigger-line{
  height: 48px;
}

.expandable-area--open {
  height: auto;
  transition: height 200ms cubic-bezier(.4, 0, .2, 1);
}

.expandable-area--closing {
  height: 0 !important;
  transition: height 200ms cubic-bezier(.4, 0, .2, 1);
  overflow: hidden;
}

.expandable-area--closed {
  height: auto;
  opacity: 0;
  position: fixed;
  pointer-events: none;
}

.expandable-area--opening {
  //height: 0!important;
  transition: height 200ms cubic-bezier(.4, 0, .2, 1);
  overflow: hidden;
}

.trigger-icon{

    transform: rotate(0deg);
    transition: transform 200ms linear;

}

.trigger-icon--rotated{

    transform: rotate(180deg);
    transition: transform 200ms linear;

}

.expandable-area--trigger-line .mdc-button--raised{
  float: right;
}

.expandable-area .mdc-list-item__text{
  max-width: calc(100% - 50px);
}

//@keyframes turner{
//  from{  transform: rotate(0deg)   }
//  to  {  transform: rotate(180deg) }
//}