@use '@material/typography/mdc-typography';

:root{
  --mdc-theme-primary: #1976D2;
}

.plain-top-app-bar{
  background-color: transparent;
  color: black;
  position: relative;
  //border-bottom: 1px solid rgba(0,0,0,0.2);

  & .mdc-icon-button{
    color: black!important;
  }

  & .mdc-icon-button:before,
  & .mdc-icon-button:after{
    background-color: rgba(0,0,0,0.5)!important;
  }
}

.no-space-list{
  padding: 0!important;
}

.mdc-typography--headline4{
  margin: 0;
}

.expandable-area--trigger-line{
  height: 40px;
}

.expandable-area--closed{
  height: 0;
  overflow: hidden;
}

.trigger-icon{
  & button{
    transform: rotate(0deg);
    transition: transform 200ms linear;
  }
}

.trigger-icon--rotated{
  & button{
    transform: rotate(180deg);
    transition: transform 200ms linear;
  }
}

//@keyframes turner{
//  from{  transform: rotate(0deg)   }
//  to  {  transform: rotate(180deg) }
//}