@use 'common';
@use "@material/list/_index" as list;
@use '@material/icon-button/mdc-icon-button';
@use "@material/dialog/mdc-dialog";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/menu-surface/mdc-menu-surface";
@use '@material/button/mdc-button';

@include list.deprecated-core-styles;

#beta-label{
  position: fixed;
  width: 80px;
  height: 25px;
  background: var(--mdc-theme-primary);
  top: 7px;
  right: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform:rotate(45deg);
  z-index: 100;
}

.style-li{

  &[data-included="true"] {

    & .turn-on{
      display: none;
    }
  }

  &[data-included="false"] {

    & .turn-off{
      display: none;
    }
  }
}

.mdc-dialog__surface{
  width: 300px;
  height: 300px;
}

.mdc-select:focus-visible{
  outline: none;
}