@use 'common';
@use "@material/list/_index" as list;
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield/mdc-text-field";
@use '@material/button/mdc-button';

@include list.deprecated-core-styles;

#keyField, #typeSelect{
  width: 200px;
  margin-right: 16px;
}

#fieldsArea .mdc-text-field{
  width: calc(50% - 32px);
  margin: 16px;
}

#fieldsArea{
  //padding-top: 16px;
}

#values{
  display: none;
}

#examples{
  background-color: rgba(0,0,0,0.2);
  padding: 8px;
  margin-top: 8px;
  border-radius: 8px;
  & p{
    margin: 0;
  }
}

#commentArea{
  width: calc(100% - 16px);
  height: 80px;
  margin: 0 8px;
}

@media only screen and (max-width: 580px) {
  #keyField, #typeSelect {
    width: 150px;
  }
}