@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/icon-button/mdc-icon-button';
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/list/_index" as list;
@use 'common';
@use '@material/button/mdc-button';
@use "@material/dialog/mdc-dialog";

@include list.deprecated-core-styles;

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

main{
  height: calc(100% - 64px);
}


.mdc-top-app-bar{
  z-index: 6;
  color: var(--mdc-theme-on-primary);
  & .mdc-icon-button:not(:disabled):not(.mdc-snackbar__dismiss) {
    color: var(--mdc-theme-on-primary)!important;
  }
}

.mdc-top-app-bar--fixed-adjust{
  display: flex;
}

.sidebar{
  width: 72px;
  border-right: 1px solid var(--dmc-theme-on-background32);
  box-sizing: border-box;
  height: 100%;
  transition: width 200ms;
  height: 100%;
  overflow-y: scroll;

  &.sidebar--open .mdc-deprecated-list-item__text{
    max-width: calc(100% - 50px);
  }
  & .mdc-top-app-bar__title {
    color: var(--dmc-theme-on-background87);
  }
  &.mdc-top-app-bar {
    & .mdc-icon-button:not(:disabled):not(.mdc-snackbar__dismiss) {
      color: var(--dmc-theme-on-background87)!important;
    }
  }

}

.sidebar:not(.sidebar--open) {
  & .mdc-top-app-bar {
    display: none;
  }

  & .mdc-deprecated-list-item__meta {
    display: none;
  }
}

.sidebar--open{
  width: 300px;
  //max-width: 300px;
  //transition: width 200ms;
}

#main{
  flex-grow: 1;

  & iframe {
    width: 100%;
    height: calc(100% - 4px);
    border: none;
  }
}

.editArea{
  height: 100%;
  width: 0;
  border-left: 1px solid var(--dmc-theme-on-background32);
  box-sizing: border-box;
  transition: width 200ms;
  overflow: hidden;

  & .mdc-top-app-bar__title {
    color: var(--dmc-theme-on-background87);
  }

  & .mdc-top-app-bar{
    border-bottom: 1px solid var(--dmc-theme-on-background32);
    z-index: 5;
    & .mdc-icon-button:not(:disabled):not(.mdc-snackbar__dismiss) {
      color: var(--dmc-theme-on-background87)!important;
    }
  }

  & iframe {
    width: 100%;
    height: calc(100% - 56px);
    border: none;
  }
}

.editArea--open{
  width: 750px;
}

.bottom{
  right: 250px;
  bottom: 8px;
  position: absolute;
}

#versionPopup{
  padding: 0 8px 8px 8px;
  width: 242px;

  & .menu-headline{
    width: 100%;
    height: 48px;

    & div{
      float: left;
    }

    & .heading{
      width: calc(100% - 48px);
      font-weight: bold;
      line-height: 48px;
      font-size: 18px;
    }
  }
}

a{
  color: var(--mdc-theme-primary);
}