@use "@material/list/_index" as list;
@use 'common';
@use '@material/textfield/mdc-text-field';
@use '@material/button/mdc-button';
@use '@material/icon-button/mdc-icon-button';

@include list.deprecated-core-styles;

body{
  //padding: 8px;
  margin: 0;
}

.headline{
  margin: 8px 0px 0px 8px;
}

#drop_zone{
  width: calc(100% - 20px);
  height: 80px;
  border: 2px dashed rgba(0,0,0,0.3);
  margin: 8px;
  & span{
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 20px;
    color: rgba(0,0,0,0.6);
    font-weight: bold;
  }
}