@use "@material/list/_index" as list;
@use '@material/textfield/mdc-text-field';
@use '@material/button/mdc-button';
@use '@material/icon-button/mdc-icon-button';
@use '@material/top-app-bar/mdc-top-app-bar';
@use 'common';

@include list.deprecated-core-styles;

body, html{
  //padding: 8px;
  margin: 0;
  height: 100%;
}

.headline{
  margin: 8px 0px 0px 8px;

  & button {
    margin-right: 8px;
  }
}

.mdc-top-app-bar {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-background);
}

.mdc-top-app-bar .mdc-top-app-bar__action-item, .mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: var(--mdc-theme-on-background);
}

.mdc-top-app-bar__title{
  font-weight: bold;
  & #title_label {
    font-weight: 500;
  }
}

main {
  height: calc(100% - 48px);
  & iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    transition: width 500ms ease-in-out;
    float: left;

    &#tex_view {
      width: 0;
    }
  }
}

#toBib{
  display: none;
}

.texView {
  & main {
    iframe {
      width: 0;

      &#tex_view {
        width: 100%;
      }
    }
  }
  & #toBib{
    display: unset;
  }
  & #toTex{
    display: none;
  }
}