
  :root {
    /*set Browser-Color (e.g. scrollbars)*/
    color-scheme: dark;

    /*CSS-variables of Materiall*/
    --mdc-theme-primary: #1a679c;
    --mdc-theme-on-primary: #FFFFFF;
    --mdc-theme-secondary: #8D9BA8;
    --mdc-theme-on-secondary: #000000;
    --mdc-theme-surface: #121212;
    --mdc-theme-on-surface: #FFFFFF;
    --mdc-theme-background: #121212;
    --mdc-theme-on-background: #FFFFFF;
    --mdc-theme-error: #CF6679;
    --mdc-theme-on-error: #FFFFFF;
    --mdc-theme-text-hint-on-background: rgba(255,255,255,0.38);
    --mdc-theme-text-primary-on-background: rgba(255,255,255,0.87);
    --mdc-theme-text-secondary-on-background: rgba(255,255,255,0.54);
    --mdc-theme-text-disabled-on-background: rgba(255,255,255,0.38);
    --mdc-theme-text-icon-on-background: rgba(255,255,255,0.54);
    --mdc-checkbox-unchecked-color: rgba(255,255,255,0.54);
    --mdc-checkbox-checked-color: var(--mdc-theme-secondary);
    --mdc-checkbox-disabled-color: rgba(255,255,255,0.38);
    --mdc-checkbox-ink-color: rgba(0,0,0,0.87);
    --mdc-theme-text-primary-on-light: rgba(255,255,255,0.87);
    --mdc-theme-text-secondary-on-light: rgba(255,255,255,0.54);
    --mdc-theme-text-hint-on-light: rgba(255,255,255,0.38);
    --mdc-theme-text-disabled-on-light: var(--dmc-theme-on-background38);
    --mdc-theme-text-icon-on-light: rgba(255,255,255,0.70);
    --mdc-theme-text-icon-on-dark: rgba(0,0,0,0.50);
    --mdc-theme-text-disabled-on-dark: rgba(0,0,0,0.50);
    --mdc-theme-text-hint-on-dark: rgba(0,0,0,0.50);
    --mdc-theme-text-secondary-on-dark: rgba(0,0,0,0.70);
    --mdc-theme-text-primary-on-dark: #121212;
    --mdc-ripple-hover-opacity: 0.06;
    --mdc-ripple-press-opacity: 0.14;
    --mdc-ripple-color: rgba(255,255,255,0.54);
    --mdc-text-button-label-text-color: var(--mdc-theme-primary);
    --mdc-text-button-hover-state-layer-color: var(--mdc-theme-primary);

    /*Additional colors used by multiple components (in light they mostly match materials default-value)*/
    --dmc-theme-on-background12: rgba(255,255,255,0.12);/*e.g. disabled button*/
    --dmc-theme-background12: rgba(0,0,0,0.12);
    --dmc-theme-background32: rgba(0,0,0,0.32);
    --dmc-theme-on-background32: rgba(255,255,255,0.32);
    --dmc-theme-background38: rgba(0,0,0,0.38);
    --dmc-theme-on-background38: rgba(255,255,255,0.38);
    --dmc-theme-background50: rgba(0,0,0,0.50);
    --dmc-theme-on-background50: rgba(255,255,255,0.50);
    --dmc-theme-background54: rgba(0,0,0,0.54);
    --dmc-theme-on-background54: rgba(255,255,255,0.54);
    --dmc-theme-background60: rgba(0,0,0,0.60);
    --dmc-theme-on-background60: rgba(255,255,255,0.60);/*e.g. unselected tab or textfield*/
    --dmc-theme-background62: rgba(0,0,0,0.62);
    --dmc-theme-on-background62: rgba(255,255,255,0.62);
    --dmc-theme-background70: rgba(0,0,0,0.70);
    --dmc-theme-on-background70: rgba(255,255,255,0.70);
    --dmc-theme-background87: rgba(0,0,0,0.87);
    --dmc-theme-on-background87: rgba(255,255,255,0.87);

    --dmc-theme-disabled-text: var(--dmc-theme-on-background38);
    --dmc-theme-disabled-background: var(--dmc-theme-on-background12);
    --dmc-theme-on-disabled-background: var(--dmc-theme-on-background38);
    --dmc-theme-chip-color: rgba(255,255,255,0.12);
    --dmc-theme-on-chip-color: var(--dmc-theme-on-background87);
    --dmc-theme-chip-selected: var(--dmc-theme-primary-transparent);
    --dmc-theme-on-chip-selected: var(--mdc-theme-primary);
    --dmc-theme-snackbar: #333333;
    --dmc-theme-progress: var(--dmc-theme-background38);
    --dmc-theme-primary-transparent: rgba(134, 212, 241, 0.2);
    --dmc-theme-green: #85cf92;
    --dmc-theme-green-transparent: rgba(133, 207, 146, 0.2);
    --dmc-theme-yellow: #ffe085;
    --dmc-theme-yellow-transparent: rgba(255, 224, 133,0.2);
    --dmc-theme-red-transparent: rgba(207, 102, 121,0.2);
    --dmc-theme-smoke: #292929;
    /*--dmc-theme-on-smoke: #8f8f8f;*/

    --dmc-theme-elevation--z1: 0px 1px 1px -1px rgb(255 255 255 / 20%), 0px 1px 1px 0px rgb(255 255 255 / 14%), 0.5px 1px 1px 0px rgb(255 255 255 / 12%), -0.25px -1px 1px 0px rgb(255 255 255 / 12%);
    --dmc-theme-elevation--z2: 0px 1px 1px 0px rgb(255 255 255 / 20%), -1px 0px 1px 0px rgb(255 255 255 / 14%), 1px 0px 1px 0px rgb(255 255 255 / 12%), 0px -1px 1px 0px rgb(255 255 255 / 12%);
    --dmc-theme-elevation--z3: 0px 1.5px 1px 0px rgb(255 255 255 / 21%), -1px 0px 1px 0px rgb(255 255 255 / 16%), 1px 0px 1px 0px rgb(255 255 255 / 12%), 0px -1px 1px 0px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z4: 0px 1.5px 1px 0px rgb(255 255 255 / 21%), -1px 0px 1px 0px rgb(255 255 255 / 16%), 1.5px 0px 1px 0px rgb(255 255 255 / 12%), 0px -1px 1px 0px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z5: 0px 1.5px 1px 0.4px rgb(255 255 255 / 21%), -1px 0px 1px 0px rgb(255 255 255 / 16%), 1.5px 0px 1px 0px rgb(255 255 255 / 12%), 0px -1px 1px 0px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z6: 0px 1.5px 1px 0.4px rgb(255 255 255 / 21%), -1px 0px 1px 0px rgb(255 255 255 / 16%), 1.5px 0px 1px 0px rgb(255 255 255 / 12%), 0px -1px 1.4px 0.2px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z7: 0px 1.5px 1px 0.6px rgb(255 255 255 / 21%), -1px 0px 1px 0px rgb(255 255 255 / 16%), 1.5px 0px 1px 0px rgb(255 255 255 / 12%), 0px -1px 1.4px 0.2px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z8: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 22%), -1px 0px 1px 0px rgb(255 255 255 / 18%), 1.5px 0px 1px 0px rgb(255 255 255 / 15%), 0px -1.3px 1.4px 0.2px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z9: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 21%), -1px 0px 1px 0.5px rgb(255 255 255 / 16%), 1.5px 0px 1px 0px rgb(255 255 255 / 15%), 0px -1px 1.4px 0.2px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z10: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 21%), -1px 0px 1px 0.5px rgb(255 255 255 / 16%), 1.5px 0px 1px 0px rgb(255 255 255 / 15%), 0px -1px 1.4px 0.3px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z11: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 21%), -1px 0px 1px 0.5px rgb(255 255 255 / 16%), 1.5px 0px 1px 0px rgb(255 255 255 / 15%), 0px -1px 1.4px 0.4px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z12: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 21%), -1px 0px 1px 0.5px rgb(255 255 255 / 16%), 1.5px 0px 1px 0px rgb(255 255 255 / 15%), 0px -1px 1.4px 0.4px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z13: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 21%), -1px 0px 1px 0.5px rgb(255 255 255 / 16%), 1.5px 0px 1px 0px rgb(255 255 255 / 15%), 0px -1px 1.4px 0.4px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z14: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 21%), -1px 0px 1px 0.5px rgb(255 255 255 / 16%), 1.5px 0px 1px 0px rgb(255 255 255 / 15%), 0px -1px 1.4px 0.4px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z15: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 22%), -1px 0px 1px 0.5px rgb(255 255 255 / 16%), 1.5px 0px 1px 0.2px rgb(255 255 255 / 15%), 0px -1px 1.4px 0.4px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z16: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 23%), -1px 0px 1px 0.5px rgb(255 255 255 / 18%), 1.5px 0px 1px 0.2px rgb(255 255 255 / 15%), 0px -1px 1.4px 0.4px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z17: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 23%), -1px 0px 1px 0.5px rgb(255 255 255 / 18%), 1.5px 0px 1px 0.2px rgb(255 255 255 / 15%), 0px -1px 1.4px 0.4px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z18: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 23%), -1px 0px 1px 0.5px rgb(255 255 255 / 18%), 1.5px 0px 1px 0.2px rgb(255 255 255 / 15%), 0px -1px 1.4px 0.4px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z19: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 23%), -1px 0px 1px 0.5px rgb(255 255 255 / 18%), 1.5px 0px 1px 0.2px rgb(255 255 255 / 15%), 0px -1px 1.4px 0.4px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z20: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 23%), -1px 0px 1px 0.5px rgb(255 255 255 / 18%), 1.5px 0px 1px 0.3px rgb(255 255 255 / 15%), 0px -1px 1.5px 0.5px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z21: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 23%), -1px 0px 1px 0.5px rgb(255 255 255 / 18%), 1.5px 0px 1px 0.3px rgb(255 255 255 / 15%), 0px -1px 1.5px 0.5px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z22: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 23%), -1px 0px 1px 0.5px rgb(255 255 255 / 18%), 1.5px 0px 1px 0.3px rgb(255 255 255 / 15%), 0px -1px 1.5px 0.5px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z23: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 25%), -1px 0px 1px 0.5px rgb(255 255 255 / 18%), 1.5px 0px 1px 0.3px rgb(255 255 255 / 15%), 0px -1px 1.5px 0.5px rgb(255 255 255 / 14%);
    --dmc-theme-elevation--z24: 0px 1.5px 1.5px 0.6px rgb(255 255 255 / 25%), -1px 0px 1px 0.5px rgb(255 255 255 / 18%), 1.5px 0px 1px 0.3px rgb(255 255 255 / 15%), 0px -1px 1.5px 0.5px rgb(255 255 255 / 14%);
  }
