.idea
.cache
.parcel-cache
node_modules
projects/*
!projects/documentation
*.aux
*.lof
*.lot
*.mcf
*.toc
/Config.ini
/internal/config/Config.ini
/errorLogs.txt
/go_build_ThesorTeX_cmd_app
/e2e-tests/cypress/screenshots/**/*
