.idea
.cache
.parcel-cache
node_modules
projects/*
!projects/documentation
*.aux
*.lof
*.lot
*.mcf
*.toc
src/packages/handlers/out/
out/
src/packages/handlers/documentation/
src/cmd/versioninfo.json
src/cmd/resource.syso
src/packages/domain/templates/CV/curriculumVitae.out
src/packages/domain/templates/CV/curriculumVitae.log
src/packages/handlers/CV/curriculumVitae.out
src/packages/handlers/CV/curriculumVitae.log
backup/
customStyles/
errorLogs.txt
src/packages/webclient/assets/dist/
cmd/app/resource.syso
cmd/app/versioninfo.json
