.idea
.cache
.parcel-cache
node_modules
projects/*
!projects/documentation
*.aux
*.lof
*.lot
*.mcf
*.toc
src/packages/handlers/out/
src/packages/handlers/documentation/
src/cmd/versioninfo.json
src/cmd/resource.syso
src/packages/domain/templates/CV/curriculumVitae.out
src/packages/domain/templates/CV/curriculumVitae.log
src/packages/handlers/CV/curriculumVitae.out
src/packages/handlers/CV/curriculumVitae.log
backup/
customStyles/
errorLogs.txt
src/packages/webclient/assets/dist/
cmd/app/resource.syso
cmd/app/versioninfo.json
webclient/assets/dist/
/out/macOS_arm64/projects/ztest/styPackages/abk_verzeichnis.sty
/out/macOS_arm64/projects/ztest/styPackages/anhang.sty
/out/macOS_arm64/projects/ztest/styPackages/codes.sty
/out/macOS_arm64/projects/ztest/styPackages/fusszeilen.sty
/out/macOS_arm64/projects/ztest/styPackages/header_footer.sty
/out/macOS_arm64/projects/ztest/styPackages/html.sty
/out/macOS_arm64/projects/ztest/styPackages/inhaltsverzeichnis.sty
/out/macOS_arm64/projects/ztest/styPackages/literatur.sty
/out/macOS_arm64/projects/ztest/styPackages/ueberschriften.sty
/out/macOS_arm64/projects/ztest/abkuerzungen.csv
/out/macOS_arm64/projects/ztest/citedKeys.csv
/out/macOS_arm64/projects/ztest/literatur.csv
/out/macOS_arm64/projects/ztest/literatur.json
/out/macOS_arm64/projects/ztest/literature.csv
/out/macOS_arm64/projects/ztest/literature_types.json
/out/macOS_arm64/projects/ztest/ztest.tex
