@use "~@material/top-app-bar/mdc-top-app-bar";
@use "~@material/typography/mdc-typography";
@use '~@material/icon-button/mdc-icon-button';

body, html{
  //background-color: rgba(0,0,0,0.12);
  margin: 0;
  height: calc(100% - 16px);
}
#content{
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  background-color: white;
}
.mdc-top-app-bar{
  background-color: white;
  color: rgba(0,0,0,0.80);
  border-bottom: 1px solid rgba(0,0,0,0.50);
  max-width: 960px;
}

.mdc-top-app-bar button{
  color: rgba(0,0,0,0.80)!important;
}

.mdc-top-app-bar__title {
  font-weight: bold;
}

.mdc-top-app-bar--fixed-adjust {
  height: 100%;
  //padding-top: 48px;
  box-sizing: border-box;
}

.res_container{
  width: 0;
  height: 100%;
  float: left;
  overflow-x: hidden;
}

.res_container iframe{
  width: calc(100% - 0px);
  height: calc(100% - 8px);
  margin: 0 auto;
  border: none;
}

.res_container--close{
  width: 0;
  transition: width 500ms ease-in-out;
  overflow-x: hidden;
}

.res_container--open{
  width: 100%;
  transition: width 500ms ease-in-out;
}