@use '~@material/typography/mdc-typography';
@use '~@material/textfield/mdc-text-field';
@use '~@material/button/mdc-button';
@use '~@material/icon-button/mdc-icon-button';
@use '~@material/ripple/mdc-ripple';


body{
  padding: 8px;
}

.my-list{
  list-style: none;
  width: 100%;
  padding: 0;
}

.my-list-item{
  width: 100%;
  height: 48px;
  cursor: pointer;
}

.my-list-item__graphic{
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 12px;
}

.my-list-item__graphic .material-icons{
  padding: 12px;
}

.my-list-item__text{
  line-height: 48px;
  font-size: 20px;
}

.my-list-item__meta{
  float: right;
}

.my-list-item__meta button{
  padding: 0;
  color: rgba(0,0,0,0.65);
}

.my-list-item__meta>button:hover:not(:active)::after{
  position: absolute;
  border-radius: 50%;
  /* opacity: 0; */
  opacity: 0.5;
  pointer-events: none;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.12);
  left: calc(50% - 50%);
  top: calc(50% - 50%);
}

.my-list-item__meta>button:active::after{
  position: absolute;
  border-radius: 50%;
  /* opacity: 0; */
  pointer-events: none;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.12);
  left: calc(50% - 50%);
  top: calc(50% - 50%);
}