@use '@material/typography/mdc-typography';

:root{
  --mdc-theme-primary: #438f85;
}

#content{
  max-width: 960px;
  margin: 0 auto;
}

.mdc-typography--headline5{
  margin: 8px;
  display: block;
}

.headline{
  width: 100%;
  padding-top: 8px;
}

.headline button{
  float: right;
}

.divider{
  border-color: rgba(0,0,0,0.5);
  width: 100%;
}