$dark-bg: #121212;

.theme--dark.v-expansion-panels .v-expansion-panel{
  background-color: $dark-bg;
}
.theme--dark.v-list {
  background-color: $dark-bg;
}
.theme--dark.v-toolbar.v-sheet {
  background-color: $dark-bg;
}